@import 'nib'
@import 'prism/themes/prism-tomorrow.css'

slide_width = 685px
slide_height = 480px

bullet_transition_length = .3s
bullet_transition_easing = ease
bullet_transition_translate_x = 16px

// base

*
  box-sizing: border-box
  margin: 0
  padding: 0

@media print
  *
    -webkit-print-color-adjust: exact

@page
  size: landscape
  margin: 0

// bespoke.js layout styles

article
  display: none
  &.bespoke-parent
    display: block
    position: absolute
    top: 0
    bottom: 0
    left: 0
    right: 0
    overflow: hidden
    @media print
      overflow: visible
      position: static
    perspective: 600px

.bespoke-slide
  transform: translateZ(0)
  transform-origin: 50% 50% 0
  backface-visibility: hidden
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center
  text-align: center
  width: slide_width
  height: slide_height
  position: absolute
  top: 50%
  margin-top: (slide_height / 2) * -1
  left: 50%
  margin-left: (slide_width / 2) * -1
  padding: 20px
  z-index: 1
  @media print
    zoom: 1 !important // disable bespoke-scale
    height: 743px // seems to correspond with an A4, landscape page height
    width: 100%
    page-break-before: always
    position: static
    margin: 0

.bespoke-inactive
  opacity: 0
  pointer-events: none
  @media print
    opacity 1

.bespoke-active
  opacity: 1

// bespoke-bullet styles

.bespoke-bullet
  transition: all bullet_transition_length bullet_transition_easing

.bespoke-bullet-inactive
  opacity: 0
  li&
    transform: translateX(bullet_transition_translate_x)
  @media print
    opacity: 1

.bespoke-bullet-active
  opacity: 1

// bespoke-scale styles

.bespoke-scale-parent
  perspective: 600px
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  @media print
    transform: none !important

// content styles

body
  font-family: Vollkorn, helvetica neue, arial, sans-serif
  font-size: 18px
  color: #444

h1
  font-size: 82px
  line-height: 92px
  margin: 0 30px 16px
  font-weight: 400
  small
    display: block
    font-style: italic
    font-size: 50px
    line-height: 74px
  .background-gif &
    display: inline-block
    background: rgba(10,10,10,0.4)
    text-shadow: 0 2px 0 rgba(0,0,0,0.5)
    padding: 20px 30px
  .background-white &
    color: #2478AC

h2
  font-size: 42px
  letter-spacing: -1px
  margin: 0 20px 8px
  font-weight: 400
  font-style: italic
  .background-gif &
    display: inline-block
    background: rgba(10,10,10,0.4)
    text-shadow: 0 2px 0 rgba(0,0,0,0.5)
    padding: 10px 20px

h3
  max-width: 300px
  font-size: 18px
  font-weight: normal
  margin-bottom: 24px


blockquote
  font-size: 36px
  line-height: 42px
  text-shadow: 0 1px 0 rgba(0,0,0,0.1)
  margin: 0 40px 16px

cite
  display: block
  margin-bottom: 6px
  font-style: italic

hr
  visibility: hidden
  height: 20px

ul
  list-style: none

li
  margin-bottom: 12px

p
  margin: 0 100px 12px
  line-height: 22px

a
  color: #0089f3
  text-decoration: none

.avatar
  display: block
  width: 150px
  height: 150px
  border-radius: 150px
  margin: 25px auto

.full
  display: block
  max-height: 85%
  max-width: 85%
  margin: 25px auto

// prism styles

pre
  padding: 26px !important
  font-size: 20px
  .bullet &
    display: inline-block
  &.fixed-width
    width: 100%
    margin-bottom: 20px

:not(pre) > code[class*="language-"],
pre[class*="language-"]
  background: #333
  color: #fff
  margin: 5px 0
  .background-white &
    font-size: 15px

.token.boolean,
.token.number,
.token.string,
.token.function
  color: #FFEB00

.token.selector,
.token.important,
.token.atrule,
.token.keyword,
.token.builtin
  color: #FF702D

// slide styles

.bespoke-background
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: 0
  z-index: -1
  transform: translateZ(0)
  transition: all 1s ease
  &-inactive
    pointer-events: none
  &.background-black
    outline: 2px solid #333
    top: -2px
    left: -2px
    right: -2px
    bottom: -2px

.bespoke-slide
  transition: all .6s ease
  transform: translateZ(0)
  transition-delay: .5s
  &.bespoke-after
    transform: translateX(20px)
    .bespoke-dir-prev &
      transition-delay: 0
  &.bespoke-before
    transform: translateX(-20px)
    .bespoke-dir-next &
      transition-delay: 0

// slide transitions

.vertical-wipe
  &-out
    &.bespoke-before
      transform: translateY(-20px)
    &.bespoke-background-before
      transform: translateY(-100%)
  &-in
    &.bespoke-after
      transform: translateY(20px)
    &.bespoke-background-after
      transform: translateY(100%)

.horizontal-wipe
  &-out
    &.bespoke-before
      transform: translateX(-20px)
    &.bespoke-background-before
      transform: translateX(-100%)
  &-in
    &.bespoke-after
      transform: translateX(20px)
    &.bespoke-background-after
      transform: translateX(100%)

.background-yellow
  &.bespoke-slide
    transform: rotateX(10deg) translateY(0px)
    &.bespoke-after
      transform: rotateX(10deg) translateY(50px)
    &.bespoke-before
      transform: rotateX(10deg) translateY(-50px)
    .bespoke-bullet
      transition: all .6s ease
    .bespoke-bullet-inactive
      transform: translateY(20px)

.background-gif
  &.bespoke-slide
    transform: none
    z-index: -1
    transition-delay: 1.5s

// backgrounds

.bespoke-background
  &.background-
    &white
      background: #fff
    &black
      background: #222
      &:before
        content: ''
        position: absolute
        top: 0
        left: 0
        right: 0
        bottom: 0
        opacity: .75
    &yellow
      background: #FFEB00
    &red
      background: #FF702D
    &blue
      background: #2478AC
    &green
      background: #80D400
    // gifs!
    &gif-
      &build
        background-image: url('../images/gif/docker-build.gif')
      &run
        background-image: url('../images/gif/docker-run.gif')
      &push
        background-image: url('../images/gif/docker-push.gif')
      &pull
        background-image: url('../images/gif/docker-pull.gif')
      &hub
        background-image: url('../images/docker-hub.png')


.background-gif
  &.bespoke-slide
    color: #fff
  &.bespoke-background
    background-color: #222
    background-size: cover
    background-repeat: no-repeat
    background-position: 20% 20%
    transition: transform .6s ease, opacity 0s ease
    transform: none
    opacity: 1
    z-index: -2
    &-active
      transition-delay: 0s, 0s
    &-inactive
      transition-delay: 0s, 1s
      opacity: 0

// text colour

.bespoke-slide.background-
  &yellow
    color: #333
  &blue
    color: #E4F9FF
  &green
    color: #193F19
  &red
    color: #FFE5E5

// specific slide styles

.title
  &.bespoke-slide
    text-shadow: 0 3px 0 rgba(0,0,0,0.1)
    transform: rotateX(20deg) translateY(-20px)
    &.bespoke-before
      transform: rotateX(20deg) translateY(-70px)

.background-yellow
  &.bespoke-slide a
    color: inherit
