mixin slide(classNames)
  section(class=classNames, data-bespoke-background=classNames)
    block

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Docker 101 - Coding, testing, shipping with Docker

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      +slide('vertical-wipe-in vertical-wipe-out background-white cover')
        img.avatar(src='images/profile.png')
        h2 Andrea Tosatto
          br
          a(href='https://twitter.com/_hilbert_') 
            small @_hilbert_
      
      +slide('vertical-wipe-in vertical-wipe-out background-blue title')
        h1 Docker 101
          small Coding, testing, shipping with Docker
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Inside the docker-engine
          small (linux edition)
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h2 Heavyweight vs Lightweight Virtualization
        img.full(src='images/docker_vm.png')
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')    
        h1
          .bullet LXC
        h2
          .bullet LXC let you run a Linux system within another Linux system
          br
          .bullet A container is a group of processes put together in an isolated environment 
        .small 
          .bullet (<em>namespaces</em>)

      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        .bullet
          img.avatar(src='images/jpetazzo.jpg')
          blockquote &ldquo;This is <em>chroot</em> on steroids&rdquo;
        h3.bullet
          cite Jérôme Petazzoni
          div Lightweight Virtualization LXC containers & AUFS - SCALE11x 2013, Los Angeles
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet cGroups
        h2
          .bullet Expose a virtual file-system to
          .bullet Limit,
          .bullet Account,
          .bullet Isolate
          .bullet the resources used by a process.
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 
          .bullet AUFS
        h2
          .bullet Takes an existing filesystem and transparently overlays it on a newer filesystem
          br
          .bullet Merges several directories and provide a single merged view of it.
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 AUFS
        img.full(src='images/docker-aufs.png')
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Coding with Docker
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Testing with Docker
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Shipping with Docker
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-yellow')
        h1 Thank you!
        h2
          a(href='https://github.com/hilbert-/presentation-docker101') https://github.com/hilbert-/presentation-docker101

    script(src='build/build.js')
