mixin slide(classNames)
  section(class=classNames, data-bespoke-background=classNames)
    block

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Docker 101 - Coding, testing, shipping with Docker

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      +slide('vertical-wipe-in vertical-wipe-out background-white cover')
        img.avatar(src='images/profile.png')
        h2 Andrea Tosatto
          br
          a(href='https://twitter.com/_hilbert_') 
            small @_hilbert_
      
      +slide('vertical-wipe-in vertical-wipe-out background-blue title')
        h1 Docker 101
          small Coding, testing, shipping with Docker
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Inside the docker-engine
          small (linux edition)
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h2(style="color: #2478AC") Heavyweight vs Lightweight Virtualization
        img.full(src='images/docker_vm.png')
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')    
        h1
          .bullet LXC
        h2
          .bullet LXC let you run a Linux system within another Linux system
          br
          .bullet A container is a group of processes put together in an isolated environment 
        .small 
          .bullet (<em>namespace</em>)

      //- +slide('horizontal-wipe-in horizontal-wipe-out background-white')
      //-   div
      //-     img.avatar(src='images/jpetazzo.jpg')
      //-     blockquote &ldquo;This is <em>chroot</em> on steroids&rdquo;
      //-   h3
      //-     cite Jérôme Petazzoni
      //-     div Lightweight Virtualization LXC containers & AUFS - SCALE11x 2013, Los Angeles
     
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet cGroups
        h2
          .bullet Expose a virtual file-system to
          .bullet Limit,
          .bullet Account,
          .bullet Isolate
          .bullet the resources used by a process.
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 
          .bullet AUFS
        h2
          .bullet Takes an existing filesystem and transparently overlays it on a newer filesystem
          br
          .bullet Merges several directories and provide a single merged view of it.
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 AUFS
        img.full(src='images/docker-aufs.png')
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 Coding with Docker
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 Dockerfile
        pre.language-docker
          code.
            FROM google/nodejs

            RUN npm install -g gulp bower
            RUN echo '{ "allow_root": true }' > /root/.bowerrc

            WORKDIR /presentation
            ADD . /presentation
            
            RUN npm install && bower install

            EXPOSE 8080
            CMD [ ]
            ENTRYPOINT ["gulp", "connect"]
          
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 FROM
        img.full(src='images/docker-filesystems-busyboxrw.png')
        
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet  RUN
        h2
          .bullet Executes shell scripts trasforming the base image's file-system
          br  
          .bullet Every RUN is actually new AUFS layer
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet  ADD
        h2
          .bullet Copies new files or directories and adds them to the filesystem of the container at the given path
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet  ENV
        h2
          .bullet Sets an environment variable into the container
          br
          .bullet Used to pass configuration options to applications
          br
          .bullet 
            a(href="http://12factor.net/") 12factor.net
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1
          .bullet  EXPOSE
        h2
          .bullet Informs Docker that the container will listen on the specified network ports at runtime
          br
          .bullet To map those ports to the host, at runtime, use the <em>-p</em> flag
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-gif background-gif-build')
        h1
          .bullet docker build
        
      +slide('horizontal-wipe-in horizontal-wipe-out background-gif background-gif-run')
        h1 
          .bullet docker run
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Testing with Docker
          
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1
          .bullet Dockerfile.test
        h2  
          .bullet Easy build, run, test and discard worflow
          br
          .bullet Test, Dev and Prod environments are the same, for real!
          br
          .bullet Runtime environment versioning
        
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1
          .bullet An example..
        pre.language-docker
          code.
            FROM hilbert/docker101:latest
      
            RUN npm install karma --save-dev
            RUN npm install karma-jasmine --save-dev
        
            ENTRYPOINT ["./node_modules/karma/bin/karma", "start"]
      
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 Shipping with Docker
        
      +slide('vertical-wipe-in vertical-wipe-out background-gif background-gif-hub')
        h1
          .bullet Docker Hub
            
      +slide('horizontal-wipe-in horizontal-wipe-out background-gif background-gif-push')
        h1 docker push
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-gif background-gif-pull')
        h1 docker pull
        
      +slide('vertical-wipe-in vertical-wipe-out background-gif background-gif-pull')
        h1 To Recap
        
      +slide('vertical-wipe-in vertical-wipe-out background-white')
        h1 
          .bullet Docker is...
        h2
          .bullet simple, cool and fun!
        h1
          .bullet But
        h2
          .bullet Do you trust it?!
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        h1 Thank you!
        img.full(src='images/docker-friends.png')
      
      +slide('horizontal-wipe-in horizontal-wipe-out background-white')
        img.avatar(src='images/profile.png')
        h2
          a(href='https://github.com/hilbert-/presentation-docker101') hilbert-/presentation-docker101

    script(src='build/build.js')
